@import "//at.alicdn.com/t/font_3171687_pbt1ewzct8.css";
@import "//at.alicdn.com/t/font_3171687_q9xpzottg8t.css";
@import "//at.alicdn.com/t/font_3175512_fzd2gfvjl9.css";
@import "//at.alicdn.com/t/font_3171687_qq5sf3oir0i.css";
.left {
    float: left;
  }
  .right {
    float: right;
  }
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
  body{
    font-family: Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;;
  }
  .hidden{
     display: none;
  }
  .btn{
    background: #41ac52;
    cursor: pointer;
    color: #fff;
    text-align: center;
  }
  .btn::disabled{
    background: rgba(66, 189, 86,.5);
    cursor: not-allowed;
  }

  /* 评分 */
.star-bg{
  display: inline-block;
  width: 55px;
  height: 12px;
  background: url("../img/star-bg.png") no-repeat left top/100%;
}
.star50{
  background-position: 0 0;
}
.star45{
  background-position: 0 -11px;
}
.star40{
  background-position: 0 -22px;
}
.star35{
  background-position: 0 -33px;
}
.star30{
  background-position: 0 -44px;
}
.star25{
  background-position: 0 -55px;
}
.star20{
  background-position: 0 -66px;
}
.star15{
  background-position: 0 -77px;
}
.star10{
  background-position: 0 -88px;
}
.star05{
  background-position: 0 -99px;
}
.star00{
  background-position: 0 -110px;
}
.star .number{
  font-size: 12px;
  margin-left: 7px;
  color: #e09015;
}



  